/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.inner-nav{
    padding-left: 20px !important;
}

.inner-nav a {
    color: #009688 !important;
}

.dropdown-content{
    margin-top: 64px;
}

.gray{
  background-color: #f9f9f9;
}


ul.collapsible {
  background-color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
  h1{
    font-size: 2rem;
  }
}

@media only screen and (min-width : 992px) {
  .collapsible-body {
    padding: 2rem 6rem;
  }
  nav .nav-wrapper {
    width: 80%;
  }

  #footer{
    width: 90%
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#footer.page-footer {
  margin: 0;
}

#footer .label {
  vertical-align: super;
}

#actions .collapsible-header i {
  float: none;
  display: inline-block;
}

#actions h2 {
  margin: 1.78rem 0 0 0;
}

#actions .collapsible-header {
  line-height: 0;
  padding-bottom: 1.78rem;
  display: block;
}

blockquote {
  margin-top: 1rem;
}

.promo i {
    margin: 40px 0;
    font-size: 7rem;
    display: block;
}

.sectionHeader {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.sectionHeader:before {
    content: "";
    position: absolute;
    bottom: -12px;
    height: 4px;
    width: 80px;
    background-color: #009688;
    left: 50%;
    transform: translateX(-50%);
}


.collection .collection-item.avatar .circle {
    width: 84px !important;
    height: 84px !important;
}

.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 120px;
    position: relative;
}
/*Fix for mobile navbar*/
#sidenav-overlay{
  visibility: hidden;
}
